@tailwind base;
@tailwind components;


@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    max-width: 1366px;
    width: 1366px;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@layer components{

.header-anchor{
  @apply mr-5 opacity-[0.8] text-white font-medium active:font-bold font-Lato active:opacity-100;
}
}
